<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>api-to-dns Dashboard</title>
  {% include "_theme_init.html" %}
  {% include "_brand_head.html" %}
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="page">
    {% set page_title = "Dashboard" %}
    {% set page_help = "Signed in as " ~ user %}
    {% set page_links = [] %}
    {% include "_page_header.html" %}
    {% if message %}
      <div class="alert success">{{ message }}</div>
    {% endif %}
    {% if can_view_zones %}
      {% include "_configured_zones.html" %}
    {% else %}
      <div class="alert warning">DNS zone access is not assigned to this account.</div>
    {% endif %}
  </div>
  {% include "_page_footer.html" %}
</body>
</html>
